# Basics of statistics in python

In [4]:
#import packages
import math
import statistics
import numpy as np
import scipy.stats
import pandas as pd

In [27]:
#importing dataset
# pandas.read_csv(file): reads a comma-separated values (csv) file into DataFrame
df = pd.read_csv('Life Expectancy Data.csv')

#check which column contains missing values
# pandas.isnull(obj): indicates whether values are missing (NaN in numeric arrays, None or NaN in object arrays, NaT in datetimelike)

df.isnull().any()

Country                            False
Year                               False
Status                             False
Life expectancy                     True
Adult Mortality                     True
infant deaths                      False
Alcohol                             True
percentage expenditure             False
Hepatitis B                         True
Measles                            False
 BMI                                True
under-five deaths                  False
Polio                               True
Total expenditure                   True
Diphtheria                          True
 HIV/AIDS                          False
GDP                                 True
Population                          True
 thinness  1-19 years               True
 thinness 5-9 years                 True
Income composition of resources     True
Schooling                           True
dtype: bool

In [28]:
#extract the column infant deaths as it contains no null values
df = df[['infant deaths']]

## Measures of central tendency

#### Mean

In [29]:
df.mean()

infant deaths    30.303948
dtype: float64

#### Median

In [30]:
df.median()

infant deaths    3.0
dtype: float64

#### Mode

In [31]:
df.mode()

   infant deaths
0              0

## Variability

#### Range

In [34]:
df.max()-df.min()

infant deaths    1800
dtype: int64

#### Variance

In [36]:
df.var()

infant deaths    13906.659712
dtype: float64

#### Standard Deviation

In [37]:
df.std()

infant deaths    117.926501
dtype: float64

#### Skewness

In [38]:
df.skew()

infant deaths    9.786963
dtype: float64

#### Kurtosis

In [39]:
df.kurtosis()

infant deaths    116.042756
dtype: float64

#### Percentile

In [43]:
df.rank().head(10)

   infant deaths
0         2683.0
1         2694.0
2         2708.0
3         2723.5
4         2733.0
5         2743.0
6         2750.0
7         2755.5
8         2760.0
9         2763.0

#### Quantile

In [44]:
df.quantile()

infant deaths    3.0
Name: 0.5, dtype: float64